{{# THIS IS JUST AN EXAMPLE HOW TO USE #}}
{{# GREETING FROM 🍕-MAN #}}

{{#
<div id="accordion_id" class="accordion">

    <div class="accordion-item">
        <input type="radio" id="accordion-toggle-{{ block_index }}_{{ index }}" class="accordion-toggle" name=accordion-toggle-{{ block_index}} {{ if first }} checked {{ /if }} />
        <label for="accordion-toggle-{{ block_index }}" class="accordion-label">
            {{ slot:label }}
        </label>
        <div class="accordion-content">
            <div class="min-h-0">
                {{ slot:content }}
            </div>
        </div>
    </div>

    <div class="accordion-item"> ... </div>
    <div class="accordion-item"> ... </div>
    <div class="accordion-item"> ... </div>

</div>
#}}
