<section class="block block-breadcrumb">
    <div class="container mx-auto">

        <ul class="flex items-center gap-x-2">

            <li class="py-3">
                <a href="/" class="text-[#686868] hover:text-primary-500">
                    <span>Home</span>
                </a>
            </li>

            {{ if parent:parent:parent }}
                {{ parent:parent:parent }}
                    {{ partial:blocks/breadcrumb_item }}
                {{ /parent:parent:parent }}
            {{ /if }}

            {{ if parent:parent }}
                {{ parent:parent }}
                    {{ partial:blocks/breadcrumb_item }}
                {{ /parent:parent }}
            {{ /if }}

            {{ if parent }}
                {{ parent }}
                    {{ partial:blocks/breadcrumb_item }}
                {{ /parent }}
            {{ /if }}

            {{ partial:blocks/breadcrumb_item }}

        </ul>
    </div>
</section>
