<section class="block block-download">

    <div class="container mx-auto">
        <div class="row">

            {{# BLOCK HEADER #}}
            <div class="block-header">
                {{ if title }}
                    <div class="block-title">
                        {{ partial:components/title }}
                    </div>
                {{ /if }}

                {{ if text }}
                <div class="block-text prose">
                    {{ text }}
                </div>
                {{ /if }}
            </div>
            {{# END BLOCK HEADER #}}


            {{# BLOCK CONTENT #}}
            <div class="block-content">
                <div class="download-container flex flex-col gap-2">
                    {{ elements }}
                        {{ if file }}

                            <div class="download-element">

                                {{ partial:components/download color_scheme="secondary" }}

                            </div>

                        {{ /if }}
                    {{ /elements }}
                </div>
            </div>
            {{# BLOCK END CONTENT #}}

        </div>
    </div>

</section>
