<section class="block block-error">
    <div class="container mx-auto bg-[#edeeef]">
        <div class="row p-4">

             <div class="grid grid-cols-12">
                 <div class="col-span-12 xl:col-span-6">
                     <h1 class="uppercase font-bold text-xl text-[#444]">Seite nicht gefunden</h1>
                     <h2 class="text-2xl my-4">404 - Seite nicht gefunden</h2>
                     <div class="prose">

                         <p>Leider konnte die angeforderte Seite nicht gefunden werden, scheinbar wurde eine nicht korrekte URL eingegeben. So ist der 404 Fehler entstanden. Bitte nutzen Sie unsere <a href="/suche" class="text-primary-500 hover:underline">Suche</a> oder wechseln Sie zu unserer <a href="/" class="text-primary-500 hover:underline">Startseite</a> um in unserem umfangreichen Sortiment zu stöbern.</p>
                     </div>
                 </div>

                 <div class="col-span-12 xl:col-span-6 text-primary-500 p-8">
                     {{ svg src="/svg/undraw_logistics_primary" class="w-full max-h-[300px]" }}
                 </div>

             </div>

        </div>
    </div>
</section>
