# DENY
# Deny from all
# order deny,allow
# deny from all
# allow from 127.0.0.1



# PASSWORD (wabsolute:2VnuOrRrcH)
AuthType Basic
AuthName "restricted area"
AuthUserFile /var/www/vhosts/nemesis4780.de/rollcart.nemesis4780.de/public/.htpasswd
require valid-user

# DISABLE REWRITE ENGINE
# RewriteEngine Off




<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
